textarea {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1em;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 160px;

    border: 1px solid var(--light-grey-color);
    flex: 1;
}
